---
---

<section class="me">
  <a href="/images/me_full.jpg" class="icon">
    <img src="/images/me.webp" alt="icon" width="48" height="48" />
  </a>
  <span class="name">Masayoshi Wada</span>
</section>
<style>
  .me {
    padding: 20px 20px 16px 20px;
    display: flex;
    flex-direction: row;
  }

  .icon {
    display: block;
    margin: 0;
    width: 48px;
    height: 48px;
    outline: none;
  }

  .name {
    display: block;
    margin: 0;
    padding: 0 12px;
    font-size: 20px;
    line-height: 48px;
  }
</style>
