---
import '@fontsource/open-sans/300.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{title}</title>
  <meta name="description" content="about Masayoshi Wada">
  <meta name="viewport" content="width=device-width">
  <meta property="og:title" content="masawada.me">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://masawada.me">
  <meta property="og:image" content="https://masawada.me/images/me.jpg">
  <meta property="og:description" content="about Masayoshi Wada">
  <meta property="og:site_name" content="masawada.me">

  <link rel="shortcut icon" href="/images/favicon">
  <!--
    This site uses Open Sans font. It is distributed under the SIL Open Font License, 1.1
    https://fontsource.org/fonts/open-sans
    https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL
  -->
</head>
<body>
  <slot />
</body>
</html>
<style>
  :root {
    --font-family: "Open Sans", "Helvetica", sans-serif;
    --font-weight: 300;

    --color-bg: hsl(240, 18%, 95%);
    --color-text: hsl(0, 0%, 20%);
  }

  html {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    background-color: var(--color-bg);
  }

  body {
    margin: 0;
  }
</style>
